*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
}
body{
    background-image: url(../IMG/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100PX;
}
.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}
.caja-trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background:rgba(0,222, 184, 0.5);
}
.caja-trasera div{
margin: 100px 40px;
color: white;
transition: all 500ms;
}
.caja-trasera div p,
.caja-trasera div button{
    margin-top: 30px;
}
.caja-trasera div h3{
    font-weight: 400;
    font-size: 26px;
}
.caja-trasera button{
    padding: 10px 40px;
    border: 2px solid black;
    background-color: burlywood;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: all 300ms;
}
.caja-trasera button:hover{
    background-color:#3F2212 ;
    color: white;
    border: 2px solid white;
}
/*formularios*/
.contenedor-login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175,0.885,0.320,1.275);
}
.contenedor-login-register form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}
.contenedor-login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.contenedor-login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
}
.contenedor-login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    cursor: pointer;
    background: burlywood;
    border: 2px solid black;
}
.contenedor-login-register form button:hover{
    background-color:#3F2212 ;
    color: white;
    border: 2px solid black;
}
.formulario-login{
    opacity: 1;
    display: block;
}
.formulario-register{
    display: none;
}
/*responsive*/
@media screen and (max-width:850px){

    main{
        margin-top: 50px;
    }
    .caja-trasera{
        max-width: 350px;
        height: 300px ;
        flex-direction: column;
        margin: auto;
    }
    .caja-trasera div{
        margin: 0px;
        position: absolute;
    }
    /*formulario*/
    .contenedor-login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }
    .contenedor-login-register form{
        position: relative;
    }
}