*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
  }
  body{
    background: url(/IMG/fondo.jpg);
    background-attachment: fixed;
  }
  .navba{
    background-color: rgb(161, 133, 95);
    border: 2px dashed rgb(0, 0, 0);
    height: 160px;
  }
  .container-fluid{
    float: left;
    margin-left: 25px;
    margin-top: 30px;
  }
  .form-control{
    background: darkgreen;
    color: white;
  }
  .icono{
    float: left;
    position: relative;
  }
  .logo{
    float: left;
    padding: 0;
    margin-top: 4px;
    margin-left: 15px;
  }
  .chat{
    float: left;
    position: relative;
    margin-left: 25px;
    margin-top: 20px;
    margin-left: 250px;
  }
  .cuenta{
    float: left;
    position: relative;
    margin-left: 15px;
  }
  .chat i{
    font-size: 55px;
    text-decoration: none;
    color: white;
  }
  .btn{
    width: 50px;
    height: 50px;
    background-color: darkgreen;
    color: burlywood;
    border-radius: 100%;
    border: 0;
  }
  .btn i{
    font-size: 25px;
  }
  .menu{
    padding-right: 0;
    list-style-type: none;
    font-size: x-large;
    height: 900px;
    position: sticky;
  }
  aside{
    padding-right: 0;
    float: right;
    background-color: rgb(161, 133, 95);
    border: 2px dashed rgb(0, 0, 0);
    color: white;
    position: static;
    top: 20;
    height: 1000px;
    right: 100px;
  }
  main{
    float: right;
  }
  .Marketplace{
    padding: 1rem;
    border: 0;
    background-color: #E0ECFF;
    background-color: transparent; 
    width: 350px;
    height: 45px;
    margin-top: 10px;
    list-style-type: none;
    font-size:x-large;
  }
  .Marketplac{
    padding: 1rem;
    border: 0;
    background-color: #E0ECFF;
    background-color: transparent; 
    width: 350px;
    height: 45px;
    margin-top: 10px;
    font-size:x-large;
    list-style-type: none;
  }
  .Marketplac .btn-M{
    font-size:x-large;
  }
  .btn-Explo{
    border: 0;
    background-color: #E0ECFF;
    background-color: transparent;
    cursor: pointer;
    font-size: x-large;
  }
  .btn-M{
    border: 0;
    background-color: #E0ECFF;
    background-color: transparent;
    cursor: pointer;
  }
  .btn-Publi{
    padding: 9px;
    background-color: blueviolet;
    cursor: pointer;
    font-size: x-large;
    border-radius:1rem;
  }
  .btn-Publi:hover{
    color:#3F2212;
  }
  .Marketplace i{
    padding: 9px;
    font-size: x-large;
    background-color:blueviolet;
    margin: 10px;
    border-radius: 100%;
  }
  .Marketplac i{
    padding: 9px;
    font-size: x-large;
    background-color: darkgreen;
    margin: 10px;
    border-radius: 100%;
  }
  .Category{
    padding: 1rem;
    border: 0;
    background-color: #E0ECFF;
    background-color: transparent; 
    width: 350px;
    height: 45px;
    margin-top: 10px;
    font-size:x-large;
    list-style-type: none;
  }
  .Categoria{
    border: 0;
    background-color: #E0ECFF;
    background-color: transparent;
    cursor: pointer;
    font-size: x-large;
  }
  .Categoria i{
    font-size: 40px;
    margin-right: 10px;
    color: darkgreen;
  }
  .Cat{
    margin-top: 15px;
    margin-left: 100px;
  }
  .contenedor-productos{
    padding: 2rem;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr)
  }
  .producto-imagen{
    margin-left: 30px;
    border-radius: 1rem;
    cursor: cell;
  }
  .producto-detalles{
    padding: 1rem;
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .producto-titulo{
    text-align: center;
    margin: center;
    padding: 5px;
    margin-left: 50px;
    background-color: #3F2212;
    border-radius: 1rem;
    cursor:cell;
  }
  .producto-precio{
    padding: 5px;
    margin-left: 30px;
    color: aqua;
    text-align: center;
  }
  .producto-agregar{
    margin: 0;
    background-color: burlywood;
    border-radius: 1rem;
    transition: background-color .2s, color .2s;
  }
  .producto-agregar:hover{
    background-color: #3F2212;
    color: white;
  }
  .btn-toolbar{
    padding: 50px;
    margin-left: 365px;
  }
  .bn {
    margin-left: 15px;
    width: 42px;
    height: 38px;
    background-color: burlywood;
    transition: background-color .2s, color .2s;
  }
  .bn:hover{
    background-color: #3F2212;
    color: white;
  }
  .wrapper{
    float: right;
    display: grid;
    grid-template-columns: 420px 1fr;
  }
  .boton-categoria.active{
    color:darkgreen;
  text-decoration:underline;
  }
  .boton-categoria:hover,.btn-M:hover{
    color: #3F2212;
  }
  /*font-family: 'Press Start 2P', cursive;*/
  
  .carro{
    margin-left: 25px;
  }

  .Publi{
    color: black;
  }

  .estados{
    padding: 0.4rem;
    color: black;
    margin-top: 10px;
  }

  .nose{
    padding: 0.4rem;
  }

  .r-{
  color: black;
  }

  .usuario{
    float: left;
    position: relative;
    margin-left: -2px;
    margin-top: -25px;
    border-radius: 100%;
  }
  .clown{
    padding: 0.4rem;
    margin-top: 25px;
    margin-left: -40px;
  }

  .E{
    margin-top: 25px;
    margin-left:75px;
  }

  .Epa {
    padding: 10px 30px; /* Ajusta el relleno del botón para cambiar su tamaño */
    font-size: 16px; /* Cambia el tamaño de la fuente del botón */
    position: absolute; /* Permite posicionar el botón de manera absoluta */
    top: 113%; /* Ubica el botón en la mitad superior de su contenedor */
    left: 90%; /* Ubica el botón en la mitad izquierda de su contenedor */
    transform: translate(-50%, -50%); /* Centra el botón en relación con su contenedor */
    background-color: rgb(4, 68, 4);
}

  .Mensaje {
    padding: 10px 30px; /* Ajusta el relleno del botón para cambiar su tamaño */
    font-size: 16px; /* Cambia el tamaño de la fuente del botón */
    position: absolute; /* Permite posicionar el botón de manera absoluta */
    top: 35%; /* Ubica el botón en la mitad superior de su contenedor */
    left: 90%; /* Ubica el botón en la mitad izquierda de su contenedor */
    transform: translate(-50%, -50%); /* Centra el botón en relación con su contenedor */
    background-color: rgb(4, 68, 4);
}

.carros{
    padding: 2rem;
    margin-left: 390px;
    margin-top: 150px;
}