*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
  }
  body{
    background: url(/IMG/fondo.jpg);
    background-attachment: fixed;
  }
  .navba{
    background-color: rgb(161, 133, 95);
    height: 160px;
  }
  .container-fluid{
    float: left;
    margin-left: 25px;
    margin-top: 30px;
  }
  .form-control{
    background: darkgreen;
    color: white;
  }
  .icono{
    float: left;
    position: relative;
  }
  .logo{
    float: left;
    padding: 0;
    margin-top: 4px;
    margin-left: 15px;
  }
  .chat{
    float: left;
    position: relative;
    margin-left: 25px;
    margin-top: 20px;
    margin-left: 250px;
  }
  .cuenta{
    float: left;
    position: relative;
    margin-left: 15px;
  }
  .chat i{
    font-size: 55px;
    text-decoration: none;
    color: white;
  }
  .btn{
    width: 50px;
    height: 50px;
    background-color: darkgreen;
    color: burlywood;
    border-radius: 100%;
    border: 0;
  }
  .btn i{
    font-size: 25px;
  }
  .wrapper{
    padding-right: 0;
    list-style-type: none;
    font-size: x-large;
    height: 900px;
    top: 150px;
    position: absolute;
  }
  .menu{
    padding-right: 0;
    list-style-type: none;
    font-size: x-large;
    height: 900px;
    position: absolute;
  }
  aside{
    padding-right: 0;
    float: left;
    background-color: rgb(161, 133, 95);
    color: white;
    position: sticky;
    top: 0;
    height: 900px;
  }
  main{
    float: right;
  }
  .Marketplace{
    padding: 1rem;
    border: 0;
    background-color: #E0ECFF;
    background-color: transparent; 
    width: 350px;
    height: 45px;
    margin-top: 10px;
    list-style-type: none;
    font-size:x-large;
  }
  .Marketplac{
    padding: 9px;
    font-size: x-large;
    margin: 10px;
    border-radius: 100%;
  }
  .Marketplac .btn-M{
    font-size:x-large;
  }
  .btn-Explo{
    border: 0;
    background-color: #E0ECFF;
    background-color: transparent;
    cursor: pointer;
    font-size: x-large;
  }
  .btn-M{
    border: 0;
    background-color: #E0ECFF;
    background-color: transparent;
    cursor: pointer;
  }
  .btn-Publi{
    padding: 9px;
    background-color: blueviolet;
    cursor: pointer;
    font-size: x-large;
    border-radius:1rem;
  }
  .btn-Publi:hover{
    color:#3F2212;
  }
  .Marketplace i{
    padding: 9px;
    font-size: x-large;
    background-color:blueviolet;
    margin: 10px;
    border-radius: 100%;
  }
  .Marketplac i{
    padding: 9px;
    font-size: x-large;
    background-color: darkgreen;
    margin: 10px;
    border-radius: 100%;
  }
  .Category{
    padding: 1rem;
    border: 0;
    background-color: #E0ECFF;
    background-color: transparent; 
    width: 350px;
    height: 45px;
    margin-top: 10px;
    font-size:x-large;
    list-style-type: none;
  }
  .Categoria{
    border: 0;
    background-color: #E0ECFF;
    background-color: transparent;
    cursor: pointer;
    font-size: x-large;
  }
  .Categoria i{
    font-size: 40px;
    margin-right: 10px;
    color: darkgreen;
  }
  .Cat{
    margin-top: 15px;
    margin-left: 100px;
  }
  .contenedor-productos{
    padding: 2rem;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr)
  }
  .producto-imagen{
    margin-left: 30px;
    border-radius: 1rem;
    cursor: cell;
  }
  .producto-detalles{
    padding: 1rem;
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .producto-titulo{
    text-align: center;
    margin: center;
    padding: 5px;
    margin-left: 50px;
    background-color: #3F2212;
    border-radius: 1rem;
    cursor:cell;
  }
  .producto-precio{
    padding: 5px;
    margin-left: 30px;
    color: aqua;
    text-align: center;
  }
  .producto-agregar{
    margin: 0;
    background-color: burlywood;
    border-radius: 1rem;
    transition: background-color .2s, color .2s;
  }
  .producto-agregar:hover{
    background-color: #3F2212;
    color: white;
  }
  .btn-toolbar{
    padding: 50px;
    margin-left: 365px;
  }
  .bn {
    margin-left: 15px;
    width: 42px;
    height: 38px;
    background-color: burlywood;
    transition: background-color .2s, color .2s;
  }
  .bn:hover{
    background-color: #3F2212;
    color: white;
  }
  .wrapper{
    float: left;
    display: grid;
    grid-template-columns: 400px 1fr;
  }
  .boton-categoria.active{
    color:darkgreen;
  text-decoration:underline;
  }
  .boton-categoria:hover,.btn-M:hover{
    color: #3F2212;
  }
  /*font-family: 'Press Start 2P', cursive;*/
  
  /* ventas*/
  html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Cabin', sans-serif;
  }
  
  .main-container {
    width: 120%;
    min-height: 400px;
    margin-top: 6%;
    text-align: center;
  }
  
  .input-container {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    overflow: hidden;
    position: relative;
    color: rgb(255, 253, 253);
    cursor: pointer;
    border: 2px dashed rgb(241, 238, 235);
    background-color: rgb(3, 24, 3);
    border-radius: 20px;
    display: inline-block;
  }
  
  .input-container [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
  }
  
  .preview-container {
    margin: 0 auto;
    width: 750px;
    min-height: 300px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 4px;
  }
  
  .preview-container > img {
    margin: 0;
    width: 100%;
  }


 /* formulario*/

  .formulario {
    width: 300px; /* Ancho del formulario */
    margin: 20px auto; /* Centra el formulario en la página */
}

label {
  display: block; /* Muestra cada etiqueta en una línea separada */
  margin-bottom: 5px; /* Margen inferior para separar las etiquetas de los cuadros de texto */
  color: #fdfbfb; /* Color de la letra de la etiqueta */
  margin-left: 40px; /* Mover hacia la derecha */
}

  .Nombre{
    width: 200px; /* Ancho del cuadro de texto */
    height: 30px; /* Altura del cuadro de texto */
    margin-bottom: 10px; /* Margen inferior para separar los cuadros de texto */
    font-size: 14px; /* Tamaño de la fuente del cuadro de texto */
    color: #333; /* Color de la letra del cuadro de texto */
    margin: -10px 0 0 40px;
    margin-bottom: 0px; /* Mover hacia abajo */
    
  }

  .Precio{
    width: 200px; /* Ancho del cuadro de texto */
    height: 30px; /* Altura del cuadro de texto */
    margin-bottom: 10px; /* Margen inferior para separar los cuadros de texto */
    font-size: 14px; /* Tamaño de la fuente del cuadro de texto */
    color: #333; /* Color de la letra del cuadro de texto */
    margin-left: 40px; /* Mover hacia la derecha */
    margin-right: 40px; /* Mover hacia la izquierda */
    margin-bottom: 0px; /* Mover hacia abajo */
    margin-top: 1px; /* Mover hacia arriba */
  }

  .categoria{
    width: 200px; /* Ancho del cuadro de texto */
    height: 30px; /* Altura del cuadro de texto */
    margin-bottom: 10px; /* Margen inferior para separar los cuadros de texto */
    font-size: 14px; /* Tamaño de la fuente del cuadro de texto */
    color: #333; /* Color de la letra del cuadro de texto */
    margin-left: 40px; /* Mover hacia la derecha */
    margin-right: 40px; /* Mover hacia la izquierda */
    margin-bottom: 20px; /* Mover hacia abajo */
    margin-top: 1px; /* Mover hacia arriba */
  }

  .Descripcion{
    width: 270px; /* Ancho del cuadro de texto */
    height: 80px; /* Altura del cuadro de texto */
    margin-bottom: 10px; /* Margen inferior para separar los cuadros de texto */
    font-size: 14px; /* Tamaño de la fuente del cuadro de texto */
    color: #333; /* Color de la letra del cuadro de texto */
    margin-left: 240px; /* Mover hacia la derecha */
    margin-right: 40px; /* Mover hacia la izquierda */
    margin-bottom: 20px; /* Mover hacia abajo */
    margin-top: 1px; /* Mover hacia arriba */
   
    

  }

  .Subir {
    padding: 10px 20px; /* Ajusta el relleno del botón para cambiar su tamaño */
    font-size: 16px; /* Cambia el tamaño de la fuente del botón */
    position: absolute; /* Permite posicionar el botón de manera absoluta */
    top: 100%; /* Ubica el botón en la mitad superior de su contenedor */
    left: 60%; /* Ubica el botón en la mitad izquierda de su contenedor */
    transform: translate(-50%, -50%); /* Centra el botón en relación con su contenedor */
    background-color: rgb(3, 24, 3);
}
